[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sqlalchemy = "*"

[requires]
python_version = "3.7"

[dev-packages]
black = "*"
pytest = "*"
coverage = "*"

[pipenv]
allow_prereleases = true
